* {
	color: black;
}

body {
	background-color: lightgrey;
}

#paymentSummary {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: white;

}

#paymentSummary td, #paymentSummary th {
	border: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}

#paymentSummary tr:nth-child(even){background-color: #f2f2f2;}

#paymentSummary tr:hover {background-color: #ddd;}

#paymentSummary th {
	background-color: #4CAF50;
	color: white;
	padding: 15px;
	text-align: center;
}